extends layout
block extrahead
  script(src="javascripts/hosts.js" type="text/javascript")

block content     
  div.main-container
    - hosts = ['reader0','reader1', 'reader2', 'reader3', 'eb0', 'eb1', 'eb2', 'eb3', 'eb4', 'eb5']
    each host in hosts
      div.host_detail(style='background-color:white')
        div.row(style="width:100%;height:100%;margin:0")
          div.col(style="padding:5px;flex:0 0 230px")
            div.row(style="margin:0;padding:0")
              div.col-12
                span(style="font-size:24px;font-weight:bold;") #{host}
              - atts_cpu = [['cpu_percent', 'CPU %'], ['cpu_count', 'Num CPUs'], ['cpu_count_logical', 'Num cores']]
              each att in atts_cpu
                div.col-6(style='font-size:12px;')
                  strong #{att[1]}
                div.col-6(style='font-size:12px')
                  span(id="#{host}_#{att[0]}")
                div.w-100
              hr
              - atts_mem = [['Mem total', 'mem_total'], ['Mem used', 'mem_used'], ['Swap', 'swap']]
              each att in atts_mem
                div.col-6(style='font-size:12px')
                  strong #{att[0]}
                div.col-6(style='font-size:12px')
                  span(id="#{host}_#{att[1]}")
                div.w-100
          div.col(style="flex:0 0 250px")
            div.row(id="#{host}_disk_row" style="margin:0;padding:0")
          div.col
            div(style="width:100%;height:100%" id="#{host}_chart")

  script.
    $(document).ready(function(){
      DrawActiveLink("#lhosts");
      UpdateMonitorPage();
      DrawMonitorCharts();
    });
