extends layout

block extrahead
  script(src="xenonnt/javascripts/moment.min.js", type="text/javascript")
  script(src="xenonnt/javascripts/overview.js", type="text/javascript")
  script(src="xenonnt/javascripts/go-debug.js", type="text/javascript")
  //
    script(src="xenonnt/javascripts/d3.v5.js", type="text/javascript")
    script(src="xenonnt/javascripts/d3_relation.js", type="text/javascript")
    script(src="xenonnt/javascripts/d3-bboxCollide.js ", type="text/javascript")
  

block content     
  div.main-container
    span.fontscale Welcome #{user.first_name}, feel free to look around but careful touching anything! This is an alpha-level preview
    hr

    //
      canvas#d3_canvas(style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);")
    div#graph_canvas(style="width:100%;height:60%")
    div#plot_div(style="width:100%;height:30%")
    div.row(style="padding-left:30px")
      button.btn.btn-default#zoom_to_fit Zoom to Fit
    - detectors = ['tpc', 'muon_veto', 'neutron_veto']
    each detector in detectors    
      div.reader_detail
        div.row(style="width:100%;height:100%;margin:0")
          div.col-sm-12.col-md-12.col-lg-3(style="padding:5px;")
            div.row(style="margin:0;padding:0")
              div.col-12
                span.fontscale_header(id="det_name_#{detector}" style="font-weight:bold")
                span.fontscale_status(id="status_#{detector}" style="padding-left:5px")
              - atts = [['number', "Number: "], ['mode', "Mode: "], ['rate', 'Rate: '], ['buff', 'Buffer: '], ['readers', 'Readers: '], ['time', "Updated: "]]
              each att in atts
                div.col-4(style="font-size:14px")
                  strong.fontscale #{att[1]}
                div.col-8(style="font-size:14px")
                  span.fontscale(id="#{detector}_#{att[0]}")
          div.col-sm-12.col-md-12.col-lg-9(style="height:200px;width:100%;padding-right:0px")
            div(id="#{detector}_chartdiv", style="width:100%;height:100%")
    


  script.
    $(document).ready(function(){
      DrawActiveLink("#lindex");
      DrawOverviewCharts();
      UpdateOverviewPage();
      //GetOptionsFiles(DrawMap);
      GetOptionsFiles(DrawTree);
      UpdateFromReaders();
    });