extends layout

block extrahead
  script(src="javascripts/status_script.js", type="text/javascript")

block content
  - var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
  - var detectors = ["tpc"];
  div.main-container
    each detector in detectors
      div.detector_detail
        table.table(style="width:100%;height:100%;")
          tr
            td(style="padding:0;padding-left:5px")
              strong Detector: #{detector}
            td(style="padding:0")
              strong Status: 
              span(id="#{detector}_status")
            td(style="padding:0")
              strong Check In: 
              span(id="#{detector}_checkin")
          
    each reader in readers
      div.container(style="width:100%;margin:0;max-width:100%")
        div.row.reader_detail
          div.col-sm-12.col-md-4.col-lg-3(style="padding:5px;")
            table.table.table-condensed(style="width:100%;height:100%;margin:0")
              tr
                td(style="padding:0")
                  strong Node:
                td(style="padding:0")
                  strong(style="color:#2a5935") #{reader}
              tr
                td(style="padding:0")
                  strong Status: 
                td(style="padding:0")
                  span(id="#{reader}_status")
              tr
                td(style="padding:0")
                  strong Rate:  
                td(style="padding:0")
                  span(id="#{reader}_rate")
              tr
                td(style="padding:0")
                  strong Buffer Size:  
                td(style="padding:0")
                  span(id="#{reader}_buffer")
              tr
                td(style="padding:0")
                  strong Mode:  
                td(style="padding:0")  
                  span(id="#{reader}_mode")
              tr
                td(style="padding:0")
                  strong Run:  
                td(style="padding:0")
                  span(id="#{reader}_run")
              tr
                td(style="padding:0")
                  strong Check-in:  
                td(style="padding:0")
                  span(id="#{reader}_check-in")
          div.col-sm-12.col-md-8.col-lg.9
            div.reader_chartdiv(id="#{reader}_chartdiv")
  script.
    var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
    $(document).ready(function () {
      DrawInitialCharts();
      UpdateStatusPage();
      DrawActiveLink("#lstatus");
    });
      
    