extends layout

block extrahead
  script(src="javascripts/moment.min.js", type="text/javascript")
  script(src="javascripts/status_script.js", type="text/javascript")

block content
  - var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
  - var controllers = ["fdaq00_controller_0"];
  - var brokers = [];  // ["fdaq00_broker_0_tpc", "fdaq00_broker_0_muon_veto", "fdaq00_broker_0_neutron_veto"];

  div.main-container
    div.container(style="width:100%;margin:0;max-width:100%")
      div.row(style="width:100%;margin:0")
        - atts = ['active', 'comment', 'detector', 'hosts', 'crate_controller', 'diagnosis', 'mode', 'number', 'started_at', 'status', 'stop_after', 'user'];
        each broker in brokers
          div.row.col-sm-12.col-md-6.col-lg-6(style="margin:0;margin-bottom:10px;padding:5px;border:1px solid #ccc")
            div.col-xs-12.col-sm-6
              table.table.table-condensed(style="width:100%;height:100%;margin:0")
                tr
                  td(style="padding:0")
                    strong Detector:
                  td(style="padding:0")
                    strong(id="#{broker}_detector")
                tr
                  td(style="padding:0")
                    strong State:
                  td(style="padding:0")
                    span(id="#{broker}_state")
                    span &nbsp;
                    span(id="#{broker}_ishas")
                tr
                  td(style="padding:0")
                    strong Mode:
                  td(style="padding:0")
                    strong(id="#{broker}_mode")
                tr
                  td(style="padding:0")
                    strong User:
                  td(style="padding:0")
                    strong(id="#{broker}_user")
                tr
                  td(style="padding:0")
                    strong Run:
                  td(style="padding:0")
                    strong(id="#{broker}_run")
                tr
                  td(style="padding:0")
                    strong Started:
                  td(style="padding:0")
                    strong(id="#{broker}_started")
                tr
                  td(style="padding:0")
                    strong Length:
                  td(style="padding:0")
                    strong(id="#{broker}_stop_after")
                tr
                  td(style="padding:0")
                    strong Checkin:
                  td(style="padding:0")
                    strong(id="#{broker}_checkin")
            div.col-xs-12.col-sm-6
                h6 Crate Controller
                span(id="#{broker}_crate_controller")
                h6 Readers
                span(id="#{broker}_readers" style="font-size:12px")
      each controller in controllers
        div.row.col-sm-12.col-md-12.col-lg-6.fontscale(style="padding:5px;border:1px solid #ccc")
          h5 Crate Controller 
          table.table.table-condensed(style="width:100%;height:100%;margin:0")
            tr
              td(style="padding:0")
                strong Host:
              td(style="padding:0")
                strong(id="#{controller}_host")
            tr
              td(style="padding:0")
                strong Checkin:
              td(style="padding:0")
                strong(id="#{controller}_checkin")
          
    each reader in readers
      div.container(style="width:100%;margin:0;max-width:100%")
        div.row.reader_detail
          div.col-sm-12.col-md-12.col-lg-3(style="padding:5px;")
            table.table.table-condensed.fontscale(style="width:100%;height:100%;margin:0")
              tr
                td(style="padding:0")
                  strong Node:
                td(style="padding:0")
                  strong(style="color:#2a5935") #{reader}
              tr
                td(style="padding:0")
                  strong Status: 
                td(style="padding:0")
                  span(id="#{reader}_status")
              tr
                td(style="padding:0")
                  strong Rate:  
                td(style="padding:0")
                  span(id="#{reader}_rate")
              tr
                td(style="padding:0")
                  strong Buffer Size:  
                td(style="padding:0")
                  span(id="#{reader}_buffer")
              tr
                td(style="padding:0")
                  strong Mode:  
                td(style="padding:0")  
                  span(id="#{reader}_mode")
              tr
                td(style="padding:0")
                  strong Run:  
                td(style="padding:0")
                  span(id="#{reader}_run")
              tr
                td(style="padding:0")
                  strong Check-in:  
                td(style="padding:0")
                  span(id="#{reader}_check-in")
          div.col-sm-12.col-md-12.col-lg.9
            div.reader_chartdiv(id="#{reader}_chartdiv")
  script.
    var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
    $(document).ready(function () {
      DrawInitialCharts();
      UpdateStatusPage();
      DrawActiveLink("#lstatus");
    });
      
    