extends layout

block extrahead
  script(src="javascripts/status_script.js", type="text/javascript")

block content
  - var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
  - var detectors = ["tpc"];
  div.main-container
    each detector in detectors
      div.detector_detail
        table.table(style="width:100%;height:100%;")
          tr
            td(style="padding:0;padding-left:5px")
              strong Detector: #{detector}
            td(style="padding:0")
              strong Status: 
              span(id="#{detector}_status")
            td(style="padding:0")
              strong Check In: 
              span(id="#{detector}_checkin")
          
    each reader in readers
      div.reader_detail
        div.reader_header
          table.table(style="width:100%;height:100%;margin:0")
            tr
              td(style="padding:0")
                strong Node:  
                span #{reader}
              td(style="padding:0")
                strong Status: 
                span(id="#{reader}_status")
              td(style="padding:0")
                strong Rate:  
                span(id="#{reader}_rate")
              td(style="padding:0")
                strong Buffer Size:  
                span(id="#{reader}_buffer")
              td(style="padding:0")
                strong Mode:  
                span(id="#{reader}_mode")
              td(style="padding:0")
                strong Run:  
                span(id="#{reader}_run")
              td(style="padding:0")
                strong Check-in:  
                spend(id="#{reader}_check-in")
        div.reader_chartdiv(id="#{reader}_chartdiv")
  script.
    var readers = ["fdaq00_reader_0", "fdaq00_reader_1"];
    $(document).ready(function () {
      DrawInitialCharts();
      UpdateStatusPage();
      DrawActiveLink("#lstatus");
    });
      
    